<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Api error page</title>
</head>

<body>
  <% include partials/navbar %>
  <div class="container">
    <h3> <%= message %> </h3>
  </div>
  <!-- <button type="button" onclick="myFunction()">Try it</button> -->
  <!-- <button type="button" onclick="getUsers()">get users</button> -->
</body>

<% include partials/scripts %>

</html>