<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Api error page</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">My Api</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Work</a></li>
        <li><a href="#">In</a></li>
        <li><a href="#">Progress</a></li>
      </ul>
    </div>
  </nav>
  <h1> <%= message %> </h1>
  <!-- <button type="button" onclick="myFunction()">Try it</button> -->
  <!-- <button type="button" onclick="getUsers()">get users</button> -->
</body>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="main.js"></script>

</html>