<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Api error page</title>
</head>

<body>
  <% include partials/navbar %>
  <div class="container">
    <h5 class="center-align">
      <%= message %> 
    </h5>
  </div>
</body>

<% include partials/scripts %>

</html>