<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Api tests</title>
</head>

<body onload="getUsers()">
  <% include partials/navbar %>
  <div class="row">
    <div id="myDiv" class="col s8">
      <table class="highlight">
        <thead>
          <tr>
            <th>Company</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Phone</th>
          </tr>
        </thead>

        <tbody id="data">
        </tbody>
      </table>
    </div>
    <div class="col s4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Add Customer</span>
          <div id="form">
              <form name="add" action="#" method="POST">
                Company Name: <input type="text" name="name" id="name" required><br>
                Phone: <input type="text" name="phone" id="phone" required><br>
                First Name: <input type="text" name="fName" id="fName" required><br>
                Last Name: <input type="text" name="lName" id="lName" required><br>
              </form>
            </div>
        </div>
        <div class="card-action">
          <button class="btn waves-effect waves-light" onclick="return validateForm()">add user</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <button type="button" onclick="myFunction()">Try it</button> -->
  <!-- <button type="button" onclick="getUsers()">get users</button> -->
</body>

<% include partials/scripts %>

</html>